<div class="row">
  <div class="col col-md-8">
    <h1>{{movie.title}}
      <span class="badge badge-success">New</span>
    </h1>
    <blockquote class="blockquote hero-block">
      <p class="small mb-0">{{movie.description}}</p>
    </blockquote>
  </div>
  <div class="col col-md-4">
    <div class="card">
      <img class="card-img-top img-fluid" src="../../../assets/images/placeholder.png" alt="Card image cap">
      <ul class="list-group list-group-flush small">
        <li class="list-group-item justify-content-between">
          Director
          <span class="badge badge-default badge-pill">{{movie.director}}</span>
        </li>
        <li class="list-group-item justify-content-between">
          Year
          <span class="badge badge-default badge-pill">{{movie.year}}</span>
        </li>
        <li class="list-group-item justify-content-between">
          Genre
          <span class="badge badge-default badge-pill">{{movie.genre}}</span>
        </li>
        <li class="list-group-item justify-content-between">
          Runtime
          <span class="badge badge-default badge-pill">{{movie.runtime}}</span>
        </li>
        <li class="list-group-item justify-content-between">
          Language
          <span class="badge badge-default badge-pill">{{movie.language}}</span>
        </li>
        <li class="list-group-item justify-content-between">
          Subtitles
          <span class="badge badge-default badge-pill">{{movie.subtitles}}</span>
        </li>
      </ul>
      <div class="card-footer">
        Added {{movie.added}}
      </div>
    </div>
  </div>
</div>
